body {
    background-image: url(assets/images/bg3.jpg)
}

.container {
    width: 100%;
}

.clicker {
    box-sizing: border-box;
    float: left;
    width: 40%;
    overflow: hidden;
    padding-bottom: 20px;
    border: 40px solid;    
    border-image: url(assets/images/border1.png) 70 stretch;
    
}

.achats {
    float: right;
    width: 40%;
    border-style: dotted;
    border: 40px solid;    
    border-image: url(assets/images/border1.png) 70 stretch;
    padding-bottom: 60px ;
}

@font-face {
    font-family: 'Disko';
    src: url(assets/fonts/Disko.ttf);

}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(155, 2, 2);
}

h2 {
   
    font-family: 'Disko';
     font-size: 40px;
     text-align: center;
     color: rgb(3, 51, 3);
   
}

.titre2 {

    font-family: 'Disko';
    font-size: 30px;
    text-align: left;
    /* color: rgb(212, 147, 6);   */
  
}

#buttonFraise {
    background-color: transparent;
    border: none;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fraise {
    width: 350px;
    height: 350px;
    transform: rotate(35deg);
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fraise:hover {
    transform: scale(1.1) rotate(25deg);
}


#multiplier {
    float: right;
    font-family: 'Disko';
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 15px;
    box-shadow: 9px 9px rgba(255, 255, 255, 0.445);
    width: 10%;
    
       
}


#autoclicker {
    float: right;
    font-family: 'Disko';
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 15px;
    box-shadow: 9px 9px rgba(255, 255, 255, 0.445);  
    width: 10%;
    
}

#bonus {
    float: right;
    font-family: 'Disko';
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 15px;
    box-shadow: 9px 9px rgba(255, 255, 255, 0.445);
    width: 20%;
    margin-top: 50px;
}

#counter{
    text-align: center;
    font-family: 'Disko';
    font-size: 30px;
    
    
}
