body {
    background-image: url(assets/images/bg3.jpg)
}

.container {
    width: 100%;
}

.clicker {
    box-sizing: border-box;
    float: left;
    width: 40%;
    overflow: hidden;
    padding-bottom: 20px;
    border: 40px solid;    
    border-image: url(assets/images/border1.png) 70 stretch;
    
}

.achats {
    float: right;
    width: 40%;
    border-style: dotted;
    border: 40px solid;    
    border-image: url(assets/images/border1.png) 70 stretch;
    padding-bottom: 80px ;
}

@font-face {
     font-family:'Silky Milky';
     src: url(assets/fonts/Silky-Milky-Regular.otf);

}


 


h2 {
   
     font-family:'Silky Milky';
     font-size: 40px;
     text-align: center;
  
}

.h2{

    font-family:'Silky Milky';
    font-size: 30px;
    text-align: left;
    
}

#buttonFraise {
    background-color: transparent;
    border: none;
    outline: none;
}

#fraise {
    width: 350px;
    height: 350px;
    transform: rotate(35deg);
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
}

#fraise:hover {
    transform: scale(1.1) rotate(25deg);
}

#multiplier {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 15px;
    box-shadow: 9px 9px rgba(255, 255, 255, 0.445);
    width: 40%;
}

#autoclicker {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 15px;
    box-shadow: 9px 9px rgba(255, 255, 255, 0.445);  
    width: 40%;
}

#bonus {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 15px;
    box-shadow: 9px 9px rgba(255, 255, 255, 0.445);
    width: 40%;
}

#counter{
    text-align: center;
    
    
}

.imgif{
width: 200px;
float: right;
margin-right: 70px;

}

@font-face {
    font-family:'LCD Mono';
    src: url(assets/fonts/LCDM2L__.TTF);

}

#timerBonus {
    padding-top: 2px;
    border: 1px solid black;
    font-family:'LCD Mono';

}